<div class="container">  

  <mat-card>
    <h1>Novo lançamento</h1>

   <form>

      <mat-button-toggle-group appearance="legacy" [(ngModel)]="tipos" name="tipos" style="margin-bottom: 10px;">
        <mat-button-toggle value="RECEITA">Receita</mat-button-toggle>
        <mat-button-toggle value="DESPESA">Despesa</mat-button-toggle>
      </mat-button-toggle-group>
      <!-- <p>Chosen value is {{ tipos }}</p>  -->

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="30px"> 
        <mat-form-field  fxFlex="25" class="calendar" >
          <mat-label>Vencimento</mat-label>
          <input matInput [matDatepicker]="picker1" > <!-- disabled -->
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 ></mat-datepicker> <!-- disabled="false" -->
        </mat-form-field>    
      
        <mat-form-field  fxFlex="25" class="calendar" >
          <mat-label>{{ tipos === 'RECEITA' ? 'Entrada' : 'Saída'}}</mat-label>
          <input matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="30px" >
        <mat-form-field fxFlex="70" class="full-width">
          <mat-label>Descrição</mat-label>
          <input matInput placeholder="7 tradição" value="" required >
        </mat-form-field>

        <mat-form-field fxFlex="30" class="full-width">
          <mat-label>Valor</mat-label>
          <input matInput placeholder="7 tradição" value="" required 
            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }" >
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="30px" >
        <mat-form-field fxFlex="50" class="full-width">
          <mat-label>Categoria</mat-label>
          <mat-select  required> <!-- [formControl]="animalControl"-->
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">{{ categoria.label }}</mat-option>
          </mat-select>
          <mat-error >Please choose an animal</mat-error> <!--*ngIf="animalControl.hasError('required')" -->
          <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        
        <mat-form-field fxFlex="50" class="full-width" >
          <mat-label>Pessoa (required)</mat-label>
          <select matNativeControl required > <!-- [formControl]="selectFormControl"-->
            <!-- <option label="-- selecione a pessoa --"></option> -->
            <option *ngFor="let pessoa of pessoas" [value]="pessoa.value">{{ pessoa.label }}</option>
            <!-- <option value="Roberto">Roberto</option>
            <option value="Mello">Mello</option> -->
          </select>
          <mat-error > <!-- *ngIf="selectFormControl.hasError('required')" -->
            This field is required
          </mat-error>
          <!-- <mat-hint>You can pick up your favorite car here</mat-hint> -->
        </mat-form-field>
      </div>

      <mat-form-field class="full-width" >
        <mat-label>Observação</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </form> 


    <button mat-raised-button color="primary" style="margin-right: 10px;">Salvar</button>
    <button mat-stroked-button color="primary" style="margin-right: 10px;">Novo</button>
    <a href="javascript:;">Voltar para a pesquisa</a>  

  </mat-card>

</div>


