.example-spacer {
  flex: 1 1 auto;
}




.mat-drawer {
  background-color: #3e3e3e;
  width: 50%;
  color: #fff;   /*rgba(0,0,0,.87);*/
  position: fixed;
}

.mat-drawer-container {
  position: initial; /* <-------- important */
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
}

/* ************** MENU LATERAL ************ */
.navbar-menu {
  list-style: none;
  padding-left: 0;
}

.navbar-usuario {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid #525151;
  margin-bottom: 15px;
  text-align: center;
}

.navbar-menuitem {
  padding: 15px;
  text-align: center;
  font-size: 18px;
}

.navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: #fff;
}

.navbar-menuitem.ativo {
  background-color: #494541;
}

/* Botao de sair */
.button-bottom-exit {
  text-align: center;
  padding-top: 50px;
}