<app-navbar></app-navbar>

<app-pessoa-cadastro></app-pessoa-cadastro>
<!-- <app-lancamento-cadastro></app-lancamento-cadastro> -->
<!-- <app-lancamentos-pesquisa></app-lancamentos-pesquisa>  -->
<!-- <app-pessoas-pesquisa></app-pessoas-pesquisa> -->

<!-- <div class="container">
  <div class="flex-container" fxLayout="row" fxLayoutAlign="start center">
    <mat-card class="child-1">1. One</mat-card> 
    <mat-card class="child-2">2. Two</mat-card> 
    <mat-card class="child-3">3. Three</mat-card>
  </div>
</div> -->