<div class="container" >

  <mat-card class="card-default" >
    <h1> Lançamentos </h1>
   
    <form class="width-form" (ngSubmit)="pesquisar()" >
      <mat-card-content>
        <mat-form-field class="full-width" appearance="fill" >
          <mat-label> Descrição </mat-label>
          <input matInput placeholder="7 tradição" [formControl]="descricao" >
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label> Insira um intervalo de datas </mat-label>
          <mat-date-range-input [rangePicker]="picker" >
            <input matStartDate [formControl]="dataVencimentoInicio" placeholder="Data inicio" >
            <input matEndDate [formControl]="dataVencimentoFim" placeholder="Data até" >         
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-date-range-picker #picker ></mat-date-range-picker>
          </mat-form-field>
      </mat-card-content>

      <button mat-raised-button color="primary" type="submit" > Pesquisar </button>
     
    </form>


    <div class="container-table mat-elevation-z8" >
      <mat-table #table [dataSource]="lancamentos" *ngIf="lancamentos.length > 0" > 

        <!-- Tipo Column -->
        <ng-container matColumnDef="tipo">
          <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
          <mat-cell *matCellDef="let element" > 
            <span class="responsive-label">Tipo: </span>
             {{ element.tipo }}
          </mat-cell>
        </ng-container>

        <!-- Descrição Column -->
        <ng-container matColumnDef="descricao" >
          <mat-header-cell *matHeaderCellDef > Descrição </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="responsive-label" >Descrição: </span>
            {{ element.descricao }} 
          </mat-cell>
        </ng-container>

        <!-- dataVencimento Column -->
        <ng-container matColumnDef="dataVencimento">
          <mat-header-cell *matHeaderCellDef> Data Venc: </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="responsive-label">Data Venc: </span>
            {{element.dataVencimento | date:'dd/MM/yyyy'}} 
          </mat-cell>
        </ng-container>

        <!-- dataPagamento Column -->
        <ng-container matColumnDef="dataPagamento">
          <mat-header-cell *matHeaderCellDef> Data Pagto. </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="responsive-label">Data Pagto: </span>
            {{element.dataPagamento | date:'dd/MM/yyyy'}} 
          </mat-cell>
        </ng-container>

        <!-- Valor Column -->
        <ng-container matColumnDef="valor">
          <mat-header-cell *matHeaderCellDef > Valor </mat-header-cell>
          <mat-cell *matCellDef="let element" > 
            <span class="responsive-label" >Valor: </span>
            <span [ngStyle]="{ color: element.tipo === 'DESPESA' ? 'red' : 'blue'}" >
              {{element.valor | currency:'BRL' : symbol:'1.2-2'}} 
            </span>
          </mat-cell>
        </ng-container>

        <!-- Pessoa Column -->
        <ng-container matColumnDef="pessoa" >
          <mat-header-cell *matHeaderCellDef> Pessoa </mat-header-cell>
          <mat-cell *matCellDef="let element" > 
            <span class="responsive-label">Pessoa: </span>
            {{ element.pessoa.nome }} 
          </mat-cell>
        </ng-container>

        <!-- Ação Column -->
        <ng-container matColumnDef="acao" >
          <td mat-header-cell *matHeaderCellDef style="width: 80px;">  </td>
          <th *matCellDef="let element" > 
            <span class="responsive-label"> </span>
            <a mat-icon-button color="primary" #tooltip="matTooltip"
              matTooltip="Editar"
              [matTooltipPosition]="position.value"
              matTooltipHideDelay="200" [routerLink]="['/lancamentos', element.codigo]">
              <mat-icon> edit </mat-icon>
            </a>
            <button mat-icon-button color="warn" #tooltip="matTooltip"
              matTooltip="Excluir"
              [matTooltipPosition]="position.value"
              matTooltipHideDelay="200" (click)="excluir(element.codigo)" > <!-- (click)="excluir(element.codigo)" -->
              <mat-icon> delete </mat-icon>
            </button>                      
          </th>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       
      </mat-table> 

      <p *ngIf="lancamentos.length === 0" 
        style="color: red; text-align: center; margin-top: 10px; font-size: 18px;">
        Não foram encontados registros para sua pesquisa 
      </p>

      <!-- <mat-paginator [pageSizeOptions]="[2, 4]" showFirstLastButtons></mat-paginator> -->
      <mat-paginator 
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex">
      </mat-paginator>
     
    </div>

    <a mat-raised-button color="primary" routerLink="/lancamentos/novo" >
       Novo lançamento
    </a> 
  
  </mat-card>

</div>

   


