<div class="container">  

  <mat-card>
  
    <h1> {{ editando ? 'Edição' : 'Novo' }} lançamento </h1>

    <form [formGroup]="lancamentoForm" (ngSubmit)="salvar()" >

      <div style="margin-bottom: 10px;"> 
        <mat-button-toggle-group appearance="legacy" formControlName="tipo" 
          (change)="tipoLabel=$event.value" [value]="tipoLabel" >
          <mat-button-toggle value="RECEITA"><b>Receita</b></mat-button-toggle>
          <mat-button-toggle value="DESPESA"><b>Despesa</b></mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="30px"> 
        <mat-form-field  fxFlex="25" class="calendar" >
          <mat-label><b> Vencimento</b> </mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="dataVencimento" required > <!-- disabled -->
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 ></mat-datepicker> <!-- disabled="false" -->
          <mat-error *ngIf="lancamentoForm.controls.dataVencimento.hasError('required')">
            Informe a data do vencimento 
          </mat-error>
          <mat-hint>Data atual</mat-hint>
        </mat-form-field>    
      
        <mat-form-field  fxFlex="25" class="calendar" >          
          <mat-label><mat-icon>schedule_send </mat-icon> <b> {{ tipoLabel === 'RECEITA' ? 'Data de recebimento' : 'Data de pagamento' }}</b> </mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="dataPagamento" >
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel> Cancelar </button>
              <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="30px" >
        <mat-form-field fxFlex="70" class="full-width">          
          <mat-label><mat-icon>description </mat-icon><b> Descrição</b> </mat-label>
          <input matInput placeholder="7 tradição" value="" formControlName="descricao" required >
          <mat-error *ngIf="lancamentoForm.controls.descricao.errors?.required">
            Informe a descrição 
          </mat-error>
          <mat-error *ngIf="lancamentoForm.controls.descricao.hasError('minlength')" >
            Descrição deve ter {{ lancamentoForm.controls.descricao.errors.minlength.requiredLength }} caracteres.
            Você digitou {{ lancamentoForm.controls.descricao.errors.minlength.actualLength }}  
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="30" class="full-width">          
          <mat-label><mat-icon>attach_money </mat-icon><b> Valor</b> </mat-label>
          <input matInput placeholder="7 tradição" value="" formControlName="valor" required 
            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }" >
          <mat-error *ngIf="lancamentoForm.controls.valor.hasError('required')">
            Informe o valor 
          </mat-error>
          </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="30px"  >
        <mat-form-field *ngIf="simpleReqCategoriasObs | async as categorias" fxFlex="50" class="full-width" formGroupName="categoria" > <!-- formGroupName="categoria"-->
          <mat-label><mat-icon>category </mat-icon> <b> Categoria</b> </mat-label>
          <mat-select  formControlName="codigo" required >
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.codigo">{{ categoria.nome }}</mat-option>
          </mat-select>
          <mat-error *ngIf="lancamentoForm.controls.categoria.hasError('required')">
            Informe a categoria
          </mat-error>         
        </mat-form-field>
        
        <mat-form-field *ngIf="simpleReqPessoasObs | async as pessoas" fxFlex="50" class="full-width" formGroupName="pessoa" > <!--formGroupName="pessoa"-->
          <mat-label><mat-icon>person </mat-icon> <b> Pessoa</b> <i> (required)</i></mat-label>
          <mat-select formControlName="codigo" required > 
            <mat-option *ngFor="let pessoa of pessoas" [value]="pessoa.codigo">{{ pessoa.nome }}</mat-option>
          </mat-select>
          <mat-error *ngIf="lancamentoForm.controls.pessoa.hasError('required')">
            Informe seu nome 
          </mat-error>          
        </mat-form-field>
      </div>

      <mat-form-field class="full-width" >
        <mat-label><b>Observação</b> </mat-label>
        <textarea matInput formControlName="observacao" ></textarea>
      </mat-form-field>


      <button mat-raised-button color="primary" type="submit" [disabled]="!lancamentoForm.valid"
        style="margin-right: 10px; margin-top: 20px;">
        Salvar      
      </button>
      <button mat-stroked-button color="primary" type="reset" routerLink="/lancamentos/novo"
        style="margin-right: 10px;" >  <!-- (click)="novo()" routerLink="/lancamentos/novo" -->
        Novo
      </button>
      <a routerLink="/lancamentos" > Voltar para a pesquisa </a>  
    </form>     

  </mat-card>

</div>


