/* You can add global styles to this file, and also import other style files */
/* html, body {
  height: 100%;
} */

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

/* SNACK BAR */
.snack_success {
  background: #335500;
  font-weight: bold;
  color: #FFE0E0;
}

.snack_ok {
  background: #0055aa;
  color: #FFE0E0;
}

.snack_error {
  background: #ff1111;
  font-weight: bold;
  color: #FFE0E0;
}

