<div class="container">

  <mat-card>

    <h1>Nova pessoa</h1>

    <form  [formGroup]="pessoaForm" (ngSubmit)="submit()" >  <!-- $event.preventDefault() -->

      <div>
        <mat-form-field class="full-width">
          <mat-label><b>Nome</b></mat-label>
          <input matInput placeholder="Ricardo" formControlName="nome" required >
          <mat-error *ngIf="pessoaForm.controls.nome.hasError('required')">
            Informe o nome
          </mat-error>
          <mat-error *ngIf="pessoaForm.controls.nome.hasError('minlength')" >
            Nome deve ter {{ pessoaForm.controls.nome.errors.minlength.requiredLength }} caracteres.
            Você digitou {{ pessoaForm.controls.nome.errors.minlength.actualLength }}  
          </mat-error>
        </mat-form-field>       
      </div> 

      <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="30px" >
        <mat-form-field fxFlex="70" class="full-width" >
          <mat-label><b>Logradouro</b></mat-label>
          <input matInput placeholder="Av. Paulista" formControlName="logradouro" required >
          <mat-error *ngIf="pessoaForm.controls.logradouro.hasError('required')">
            Informe o logradouro
          </mat-error>
          <mat-hint>Rua, Av., Rod., Travessa</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex="30" class="full-width" >
          <mat-label><b>Número</b></mat-label>
          <input matInput placeholder="0000" formControlName="numero" required >
          <mat-error *ngIf="pessoaForm.controls.numero.hasError('required')">
            Informe o número
          </mat-error>
        </mat-form-field>
      </div> -->

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="30px" >
        <mat-form-field fxFlex="50" class="full-width" >
          <mat-label><b> Telefone </b><i> (celular)</i></mat-label>
          <input matInput mask="(00)00000-0000" placeholder="(00) 00000-0000" formControlName="telefone" required >
          <mat-error *ngIf="pessoaForm.controls.telefone.hasError('required')">
            Informe o número de telefone
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="full-width" >
          <mat-label><b> Email </b></mat-label>
          <input matInput placeholder="alcoolicos@mail.com" formControlName="email" required >
          <mat-error *ngIf="pessoaForm.controls.email.hasError('required')">
            Informe o email
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="30px" >
        <mat-form-field fxFlex="50" class="full-width" >
          <mat-label><b>Cidade</b></mat-label>
          <input matInput placeholder="São Paulo"  required >
          <!-- <mat-error *ngIf="pessoaForm.controls.cidade.hasError('required')">
            Informe a cidade
          </mat-error> -->
        </mat-form-field>

        <mat-form-field fxFlex="50" class="full-width" >
          <mat-label>Encargos</mat-label>
          <mat-select multiple formArrayName="encargos" > <!-- [formControl]="encargos" -->
            <mat-select-trigger >
              {{encargos.value ? encargos.value[0] : ''}}
              <span *ngIf="encargos.value?.length > 1" class="example-additional-selection">
                (+{{encargos.value.length - 1}} {{encargos.value?.length === 2 ? 'other' : 'others'}})
              </span>   <!-- *ngFor="let enc of encargos.controls; let i = index;" -->
            </mat-select-trigger>
            <mat-option *ngFor="let encargo of encargoLista" [value]="encargo" >{{ encargo }}</mat-option>
          </mat-select> <!-- *ngFor="let encargo of encargoLista" [value]="encargo"  -->
        </mat-form-field> <!-- [formControlName]='i' -->

        <button mat-button type="button" color="primary" (click)="addEncargo()" >
          <mat-icon> add </mat-icon>
        </button>
      </div>

      <!-- <div>
        <button mat-button type="button" color="primary" (click)="addPhone()" >
          <mat-icon> add </mat-icon>
        </button>
        <ng-container formArrayName="encargos" >
          <div *ngFor="let enc of encargos.controls; let i = index;"  >           
              <mat-form-field   >
                <input matInput type="text" placeholder="Codigo"  [formControlName]='i' >
              </mat-form-field>
          </div>
        </ng-container>
      </div>  -->

      <!-- <section class="example-section" formArrayName="encargos" >
        <ng-container *ngFor="let enc of encargos.controls; let i = index;" >
          <mat-checkbox class="example-margin"  [formControlName]='i' >
           
          </mat-checkbox>
        </ng-container>
      </section> -->

      <button mat-raised-button type="submit" color="primary" style="margin-right: 10px; margin-top: 20px;">
        Salvar
      </button>
      <button mat-stroked-button color="primary" style="margin-right: 10px;">Novo</button>
      <a href="javascript:;">Voltar para a pesquisa</a>  

    </form>    

  </mat-card>

</div>
